html[theme]:not(.dark) .blog-search .nav-search-btn-wait .search-tip {
  color: #3C3C43;
}

.VPHome {
  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    background-image: url("https://qn.kaife.cn/blog/20240301213150-1.webp");
    background-size: cover;
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 150%
  );
  .content-wrapper .blog-item .info-part .title {
    display: inline;
    margin-bottom: 6ox;
    padding-bottom: 2px;
    background: linear-gradient(to right, #ec695c,var(--vp-c-brand-1)) no-repeat right bottom;
    background-size: 0px 2px;
    transition: background-size 0.6s, color 0.5s;
  }
  .content-wrapper .blog-item:hover .info-part .title {
    color: var(--vp-c-brand-1);
    background-position-x: left;
    background-size: 100% 2px;
  }
}

.VPDoc {
  .content main img {
    width: 100%;
    height: auto;
    max-height: max-content;
  }
  code {
    padding: 0 14px !important;
  }
}

.VPNav {
  .blog-search .nav-search-btn-wait {
    border-color: #f6f6f69c;
  }
}

.blog-footer  {
  p:first-child {
    margin-bottom: 6px;
  }
}
